A. Analysis:
1. Perform EDA and display:  (5 marks)
- Summary of the data
- Shape of the data
- Missing Value Detection
- Duplicate Value Check
- Rename 'listed_in' column to 'Genre'
2. Unnest the director, cast, country and Genre columns.   (5 marks)
3. Drop description and show_id columns.   (1 mark)
4. Create added_year column from the date_added column.   (2 marks)
5. Find the best actor-director pair. (Hint: use value counts on both director and cast together).   (2 marks)
6. Drop null rows in the duration column and convert it into numerical data. ex - 90 min ---> 90, 2 seasons ---> 2    (3 marks)
7. Which actors have the most number of movies in a particular rating category?   (4 marks)

B. Visualization: (4 marks each)
1. What is the distribution of the content types (Movies vs TV Shows)?
2. How many movies were released each year after 2018?
3. What is the distribution of the top 10 popular directors creating the most number of TV shows?
4. What is the distribution of content across different genres?
5. Which are the top countries that produce the most content on Netflix?
6. How has the number of shows and movies added to Netflix changed each year? Display the trend.
7. Who are the top 5 most frequent actors featured in the top 3 most represented genres on the platform?

In [293]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [294]:
df=pd.read_csv("netflix.csv")

In [295]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [296]:
df.shape

(8807, 12)

In [297]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [298]:
df.duplicated().sum()

np.int64(0)

In [299]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [300]:
df.rename(columns={"listed_in":"Genre"},inplace=True)

In [301]:
# df["cast"]=df["cast"].str.split(",")
#

In [302]:
df["cast"]

0                                                     NaN
1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                     NaN
4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                              ...
8802    Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8803                                                  NaN
8804    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
Name: cast, Length: 8807, dtype: object

In [303]:
df.drop("description", inplace=True, axis=1)

In [304]:
# new_data=df.groupby("title")["cast"].value_counts().reset_index()
# new_data.drop(new_data["count"],inplace=True)

In [305]:
df=dict(df)
df

{'show_id': 0          s1
 1          s2
 2          s3
 3          s4
 4          s5
         ...
 8802    s8803
 8803    s8804
 8804    s8805
 8805    s8806
 8806    s8807
 Name: show_id, Length: 8807, dtype: object,
 'type': 0         Movie
 1       TV Show
 2       TV Show
 3       TV Show
 4       TV Show
          ...
 8802      Movie
 8803    TV Show
 8804      Movie
 8805      Movie
 8806      Movie
 Name: type, Length: 8807, dtype: object,
 'title': 0        Dick Johnson Is Dead
 1               Blood & Water
 2                   Ganglands
 3       Jailbirds New Orleans
 4                Kota Factory
                 ...
 8802                   Zodiac
 8803              Zombie Dumb
 8804               Zombieland
 8805                     Zoom
 8806                   Zubaan
 Name: title, Length: 8807, dtype: object,
 'director': 0       Kirsten Johnson
 1                   NaN
 2       Julien Leclercq
 3                   NaN
 4                   NaN
              ...
 8802      David Fincher
 8803                NaN
 8804    Ruben Fleischer
 8805       Peter Hewitt
 8806        Mozez Singh
 Name: director, Length: 8807, dtype: object,
 'cast': 0                                                     NaN
 1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
 2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
 3                                                     NaN
 4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                               ...
 8802    Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
 8803                                                  NaN
 8804    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
 8805    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
 8806    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
 Name: cast, Length: 8807, dtype: object,
 'country': 0       United States
 1        South Africa
 2                 NaN
 3                 NaN
 4               India
             ...
 8802    United States
 8803              NaN
 8804    United States
 8805    United States
 8806            India
 Name: country, Length: 8807, dtype: object,
 'date_added': 0       September 25, 2021
 1       September 24, 2021
 2       September 24, 2021
 3       September 24, 2021
 4       September 24, 2021
                ...
 8802     November 20, 2019
 8803          July 1, 2019
 8804      November 1, 2019
 8805      January 11, 2020
 8806         March 2, 2019
 Name: date_added, Length: 8807, dtype: object,
 'release_year': 0       2020
 1       2021
 2       2021
 3       2021
 4       2021
         ...
 8802    2007
 8803    2018
 8804    2009
 8805    2006
 8806    2015
 Name: release_year, Length: 8807, dtype: int64,
 'rating': 0       PG-13
 1       TV-MA
 2       TV-MA
 3       TV-MA
 4       TV-MA
         ...
 8802        R
 8803    TV-Y7
 8804        R
 8805       PG
 8806    TV-14
 Name: rating, Length: 8807, dtype: object,
 'duration': 0          90 min
 1       2 Seasons
 2        1 Season
 3        1 Season
 4       2 Seasons
           ...
 8802      158 min
 8803    2 Seasons
 8804       88 min
 8805       88 min
 8806      111 min
 Name: duration, Length: 8807, dtype: object,
 'Genre': 0                                           Documentaries
 1         International TV Shows, TV Dramas, TV Mysteries
 2       Crime TV Shows, International TV Shows, TV Act...
 3                                  Docuseries, Reality TV
 4       International TV Shows, Romantic TV Shows, TV ...
                               ...
 8802                       Cult Movies, Dramas, Thrillers
 8803               Kids' TV, Korean TV Shows, TV Comedies
 8804                              Comedies, Horror Movies
 8805                   Children & Family Movies, Comedies
 8806       Dramas, International Movies, Music & Musicals
 Name: Genre, Length: 8807, dtype: object}

In [316]:

list_a = []

for i in range(len(df["show_id"])):
    show_id = df["show_id"][i]
    title = df["title"][i]
    type_i = df["type"][i]
    director = df["director"][i]
    cast = df["cast"][i]
    country = df["country"][i]
    date_added = df["date_added"][i]
    release_year = df["release_year"][i]
    rating = df["rating"][i]
    duration = df["duration"][i]
    genre = df["Genre"][i]
   
    if cast:
        cast_list = [x for x in cast.str.split(",")]
        for c in cast_list:
            list_a.append({
                "show_id": show_id,
                "title": title,
                "type": type_i,
                "director": director,
                "cast": c,
                "country": country,
                "date_added": date_added,
                "release_year": release_year,
                "rating": rating,
                "duration": duration,
                "Genre": genre    
            })
    else:
        list_a.append({
            "show_id": show_id,
            "title": title,
            "type": type_i,
            "director": director,
            "cast": None,
            "country": country,
            "date_added": date_added,
            "release_year": release_year,
            "rating": rating,
            "duration": duration,
            "Genre": genre    
        })


for i in list_a:
    print(i)

{'show_id': 's1', 'title': 'Dick Johnson Is Dead', 'type': 'Movie', 'director': 'Kirsten Johnson', 'cast': None, 'country': 'United States', 'date_added': 'September 25, 2021', 'release_year': np.int64(2020), 'rating': 'PG-13', 'duration': '90 min', 'Genre': 'Documentaries'}

In [313]:
df=pd.DataFrame(list_a)
df

,show_id,title,type,director,cast,country,date_added,release_year,rating,duration,Genre
0,s1,Dick Johnson Is Dead,Movie,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries

,show_id,title,type,director,cast,country,date_added,release_year,rating,duration,Genre
0,s1,Dick Johnson Is Dead,Movie,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries
1,s2,Blood & Water,TV Show,NaN,None,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,Ganglands,TV Show,Julien Leclercq,None,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,Jailbirds New Orleans,TV Show,NaN,None,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,s5,Kota Factory,TV Show,NaN,None,India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."
...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Zodiac,Movie,David Fincher,None,United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers"
8803,s8804,Zombie Dumb,TV Show,NaN,None,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies"
8804,s8805,Zombieland,Movie,Ruben Fleischer,None,United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies"
8805,s8806,Zoom,Movie,Peter Hewitt,None,United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies"
8806,s8807,Zubaan,Movie,Mozez Singh,None,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals"

In [ ]:
# df["cast"]=df["cast"].str.split(",")

In [ ]:
# df=df.explode("cast")

In [ ]:
# df["Genre"]=df["Genre"].str.split(",")

In [ ]:
# df=df.explode("Genre")

In [ ]:
# df["director"]=df["director"].str.split(",")

In [ ]:
# df=df.explode("director")

In [ ]:
# df["country"]=df["country"].str.split(",")

In [ ]:
# df=df.explode("country")

In [ ]:
df.shape

(8807, 12)

In [ ]:
# df=df.drop(columns=["description","show_id"])

In [ ]:
# df["date_added"]=pd.to_datetime(df["date_added"],errors="coerce")
# df["added_date"]=df["date_added"].dt.year

In [ ]:
# df["added_date"]=df["added_date"].astype("Int64")

In [ ]:
# df

In [ ]:
# df_arr=df.groupby("director")["cast"].value_counts().reset_index().sort_values(by=["count","cast"],ascending=False)
# df_arr